@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik',
        sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


.main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}


/* today section */
.today {
    padding: 10px 20px;
    width: 400px;
    transition: all .4s ease-out;
}

.today.sidebar {
    width: 0px;
    padding: 0px;
    transition: all .4s ease-in-out;
}

.search-input {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.search-input.opening {
    width: 100%;
    margin-left: 0;
}

.search-input.opening input {
    display: block;
}

.search-input input {
    display: none;
    width: 100%;
    height: 100%;
    border: 0;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.search-input input:focus {
    outline: 0;
}


.loader {
    display: none;
    width: 60px !important;
    /* margin: 0 auto !important; */
    height: 60px !important;
    object-fit: cover;
    margin-left: 70px;
    margin-top: 0 !important;
    transition: all .5s ease-out;
    position: absolute;
}

.today-container img {
    width: 200px;
    object-fit: cover;
    margin-top: 30px;
}

h2 span {
    font-size: 66px;
    font-weight: 100;
}

.days {
    margin-top: 0px;
}

.hour {
    color: #999;
    font-size: 15px;
}

.situtation {
    display: flex;
    align-items: center;
}

.situtation img {
    width: 100%;
    width: 60px;
    margin: 0;
    margin-left: -15px;
}

.weather-situation {
    font-size: 17px;
    font-weight: 500;
}

.all-update {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: lightcyan;
    position: relative;
}

.menu-bar {
    left: 15px;
    top: 10px;
    position: absolute;
    cursor: pointer;
}

.menu-bar i {
    font-size: 20px;

}


.all-update-container {
    overflow: auto;
    height: 95%;
    width: 90%;
    margin: 20px auto;

}

.all-update-container h4 {
    margin-top: 20px;
}

.weekly-update-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    text-align: center;
}

.weekly-update {
    background-color: #ffffff;
    padding: 10px 0;
    border-radius: 10px;
}

.weekly-update h6 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 15px;
}

.weekly-update img {
    width: 30px;
}

.weekly-update p {
    margin-bottom: 0;
}

.todays-highlights {
    margin-top: 40px;

}

.highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.highlight {
    padding: 20px;
    height: 150px;
    border-radius: 20px;
    background-color: #ffffff;
}

.highlight h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #999;
}

.highlight h2 {
    font-size: 18px;
}

.highlight h2 span {
    font-size: 35px;
}

.s-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.s-container h5 {
    margin: 0 5px;
}

.s-container img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.sunrise,
.sunset {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

