@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik',
        sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


.main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* today section */
.today {
    padding: 10px 20px;
    width: 350px;
    transition: width .5s ease-in;
}

.search-input {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.search-input.opening {
    width: 100%;
    margin-left: 0;
}

.search-input.opening input {
    display: block;
}

.search-input input {
    display: none;
    width: 100%;
    height: 100%;
    border: 0;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.search-input input:focus {
    outline: 0;
}


.loader {
    display: none;
    width: 60px !important;
    /* margin: 0 auto !important; */
    height: 60px !important;
    object-fit: cover;
    margin-left: 70px;
    margin-top: 0 !important;
    transition: all .5s ease-out;
    position: absolute;
}

.today-container img {
    width: 200px;
    object-fit: cover;
    margin-top: 30px;
}

h2 span {
    font-size: 66px;
    font-weight: 100;
}

.days {
    margin-top: 0px;
}

.hour {
    color: #999;
    font-size: 15px;
}

.situtation {
    display: flex;
    align-items: center;
}

.situtation img {
    width: 100%;
    width: 60px;
    margin: 0;
}

.weather-situation {
    font-size: 17px;
    font-weight: 500;
}

.all-update {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: lightcyan;
}

.all-update-container {
    background-color: white;
    overflow: auto;
    height: 90%;
    width: 90%;
    margin: 30px auto;
}